html {
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
}

header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    background-color: #1e1e1e;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: #ffffff;
    text-align: left;
    margin: auto;
}

main {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0% 5% 0% 5%;
    background-color: #2c2c2c;
}

section {
    margin-bottom: 2em;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    background-color: rgb(0, 247, 255);
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: #9f0808;
    text-align: center;
    margin: auto;
    padding: auto;
    background-color: aqua;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: auto;
    padding: auto;
    background-color: aqua;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: auto;
    padding: auto;
    background-color: aqua;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: #333;
    text-align: center;
    margin: auto;
    padding: auto;
}

img {
    filter: invert(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo {
    justify-content: flex-start;
    width: 40%;
    margin-right: auto;
    margin-left: .5%;
    margin-bottom: 0;
}

.navbar {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    background-color: #1e1e1e;
    margin-bottom: 0;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1rem;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    text-shadow: #333 0px 0px 10px;
    color: turquoise;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: turquoise;
}

.dropdown:hover .dropdown-content {
    background-color: #1e1e1e;
    display: block;
}
